<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.hukusuke1007.stop_watch_timer_example">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
